<html>
    <body>
    <head>
        <title>HAPPY MILES</title>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
        <div class="arrow-btn">
            <a href="#"><span class="fas fa-angle-up"></span></a>
        </div>
        <header>
            <div class="main">
                <div class="logo">
                </div>
                <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#service">Services</a>
                        </li>
                        <li>
                            <a href="#">Subscription</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#contact" routerLink="/contact">Contact</a>
                        </li>
                        <li>
                            <a href="#">Logout</a>
                        </li>
                </ul>
            </div>
            <div class="title1">
                  <h1>HAPPY MILES</h1>
                  <h2>Your Safety, Our Priority</h2>
            </div>
        </header>
        <div class="lol">
            <h2>HOW HAPPY MILES WORKS?</h2>
            <h3>Drive yourself to an adventure and back in 5 simple steps</h3>
        </div>
        

        <div class="container">
            <div class="gallery">
                <img src="/assets/images/111.jpg">
                <p>BOOK</p>
                <div class="desc">Search for a car based on our services and book a car on our website with reasonalble prices</div>
            </div>
            <div class="gallery">
                <img src="/assets/images/har.jpg">
                <p>UPLOAD LICENSE</p>
                <div class="desc">Upload your driver’s license for small security reasons, and pay a small security deposit.</div>
            </div>

            <div class="gallery">
                <img src="/assets/images/download.png">
                <p>UNLOCK</p>
                <div class="desc">We SMS your car details 20 minutes before pickup.Unlock it via the Zoomcar app.</div>
            </div>

            <div class="gallery">
                <img src="/assets/images/111.jpg">
                <P>HAPPY</P>
                <div class="desc">Fill the start checklist in the HappyMiles app. Grab the keys from the glove-box and drive.</div>
            </div>

            <div class="gallery">
                <img src="/assets/images/retu.png">
                <p>RETURN</p>
                <div class="desc">Return the car to the same location and fill the end checklist to end your trip.</div>
            </div>
        </div>
        <div class="lol">
            <h2>HAPPYMILES ADVANTAGE</h2>
            <h3>We simplified car rentals, so you can focus on what's important to you.</h3>
        </div>

        <div class="container">
            <div class="gallery11">
                <img src="/assets/images/no.png">
                <div class="desc">
                   <h1> No Hidden Charges</h1>
                    <p>Our prices include taxes and insurance.
                        What you see is what you really pay!</p>
                </div>
            </div>

            <div class="gallery11">
                <img src="/assets/images/insu.jpg">
                <div class="desc">
                    <h1>Damage Insurance</h1>
                    <p>All your bookings include damage insurance! Drive safe, but don’t worry!</p>
                </div>
            </div>

            <div class="gallery11">
                <img src="/assets/images/flexo.PNG">
                <div class="desc">
                    <h1>Flexi Pricing Packages</h1>
                    <p>One size never fits all! Choose a balance of time and kilometers that works best for you.</p>
                </div>
            </div>
          </div>

          <div class="one">
            <h1 id="service">Services</h1>
            <h2>Choose the service Package that suits your needs</h2>
          </div>
          <mat-card>
              <mat-card-title>Rent a Car with Driver!</mat-card-title>
              <img mat-card-image src="/assets/images/driv1.png">
              <mat-card-content>
                  <p>Ever wanted to have a super fun long drive with your family or wanted
                    to have a Fantastic trip , Happy Miles is here to provide one of the best
                    rental cars according to your convenience with experienced and licensed
                    drivers.</p>
              </mat-card-content>
              <mat-card-actions>
                  <button mat-button routerLink="/carsearch">Book Now</button>
              </mat-card-actions>
             
              </mat-card>



              <!---->


              <mat-card>
                <mat-card-title>Hire self-driving cars</mat-card-title>
                <img mat-card-image src="/assets/images/newwwwcar.png">
                <mat-card-content>
                    <p>Happy Miles provides Seld Driving services at your door step ,
                        where you can book a car and Bump into the Joy of seldriving
                        vacations !.During this pandemic Self driving cars benefit more..</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Book Now</button>
                </mat-card-actions>
                </mat-card>

                <!---->


                <mat-card>
                    <mat-card-title>Access to clean and sanitized cars</mat-card-title>
                    <img mat-card-image src="/assets/images/lhm.jpg">
                    <mat-card-content>
                        <p> Happy Miles is ensuring that patrons of the
                            brand remain safeguarded from the risks. At a time of inspection, every time Happy Miles is
                            completely sanitized and cleaned with tissues, including the keys, steering
                            wheel, gears, front and back door handles, and pocket door hand rest.</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Book Now</button>
                    </mat-card-actions>
                    </mat-card>

                
    <head>
        <title>
        </title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <section class="testimonials">
            <div class="container">
                <h1>Testimonials</h1>
                <p class="text-center">Our clients are our partners and we can not imagine a
                    better future for our company without helping them
                     reach their objectives</p>
                     <div class="row">
                        <div class="col-md-4 text-center">
                            <div class="profile">
                                <img src="/assets/images/1st.jpg" class="user">
                                <blockquote>
                                    Had a recent trip with my friends …and had to say that it was 
                                    a beautiful journey . Was completely satisfied with service
                                    provided by Happy Miles
                                </blockquote>
                                <h3>Rakesh Shukla</h3>
                            </div>
                        </div>
                           <!---->
                        <div class="col-md-4 text-center">
                            <div class="profile">
                                <img src="/assets/images/2nd.jpg" class="user">
                                <blockquote>
                                    I have taken service from Happy Miles four times till date
                                    and I have to say that I am Happy with it , the response ,
                                    Timely delivery of the car for self drive and the function of
                                    the car was excellent
                                </blockquote>
                                <h3>Prabakar Rao</h3>
                            </div>
                        </div>
                         <!---->
                        <div class="col-md-4 text-center">
                            <div class="profile">
                                <img src="/assets/images/3rd.jpg" class="user">
                                <blockquote>
                                    Had a recent trip with my friends …and had to say that it was 
                                    a beautiful journey . Was completely satisfied with service
                                    provided by Happy Miles
                                </blockquote>
                                <h3>Kunal Pandey</h3>
                            </div>
                        </div>
                     </div>
            </div>
        </section>
    </body>
    <body>
        <div class="rap">
            <h1 id="about">About Us</h1>
            <h2>Happy Miles is an Indian self-drive car rental company, headquartered in Vijaywada, India.
                The company was founded in 2020 . As of now the company operates in Telangana and
                Andhra Pradesh cities .</h2>
                <div class="oho">
                    <img src="/assets/images/1.png">
                </div>
        </div>
    </body>
    <body>
        <h3>FeedBack Form</h3>
        <div class="container">
          <form action="/action_page.php">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            <label for="state">Select Your State</label>
            <select id="state" name="state" placeholder="Your State..">
                <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Telangana">Telangana</option>
              <option value="Karnataka">Karnataka</option>
            </select>
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        
            <input type="submit" value="Submit">
          </form>
        </div>
        
        </body>

    <body>
        <div class="last">
            <h1 id="contact">Contact Us</h1>
            <div class="lastl">
                <p>Happy Miles</p>
                <p>D.NO:1-4-226/7A,Begumpet,Hyderabad,CA 2020</p>
                <p>(123) 456-7890</p>
            </div>
        </div>
    </body>
</body>
</html>

