<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="hello">
    <mat-toolbar color="primary">
        <span>Search a suitable  car for rent</span>
    </mat-toolbar>
</div>
<mat-card>
    <img mat-card-image src="/assets/images/21.jpeg">
    <mat-card-content>
        <h3>Maruti suzuki dzire hatchback</h3>
        <p>Price per day:2000/-</p>
        <p>Ever wanted to have a super fun long drive with your family or wanted
          to have a Fantastic trip , Happy Miles is here to provide one of the best
          rental cars according to your convenience with experienced and licensed
          drivers.</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button routerLink="/driverrent">Book Now</button>
    </mat-card-actions>
</mat-card>
    <!---->

    <mat-card>
        <img mat-card-image src="/assets/images/22.jpeg">
        <mat-card-content>
            <h3>maruti suzuki vitara brezza suv</h3>
            <p>Ever wanted to have a super fun long drive with your family or wanted
              to have a Fantastic trip , Happy Miles is here to provide one of the best
              rental cars according to your convenience with experienced and licensed
              drivers.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/driverrent">Book Now</button>
        </mat-card-actions>
       
        </mat-card>


        <!---->


        <mat-card>
            <img mat-card-image src="/assets/images/23.jpeg">
            <mat-card-content>
                <h3>Toyota Etios Sedan</h3>
                <p>Ever wanted to have a super fun long drive with your family or wanted
                  to have a Fantastic trip , Happy Miles is here to provide one of the best
                  rental cars according to your convenience with experienced and licensed
                  drivers.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/driverrent">Book Now</button>
            </mat-card-actions>
           
            </mat-card>


            <!---->


            <mat-card>
                <img mat-card-image src="/assets/images/24.jpeg">
                <mat-card-content>
                    <h3>Tata vista hatchback</h3>
                    <p>Ever wanted to have a super fun long drive with your family or wanted
                      to have a Fantastic trip , Happy Miles is here to provide one of the best
                      rental cars according to your convenience with experienced and licensed
                      drivers.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button routerLink="/driverrent">Book Now</button>
                </mat-card-actions>
               
                </mat-card>


                <!---->


                <mat-card>
                    <img mat-card-image src="/assets/images/25.jpeg">
                    <mat-card-content>
                        <h3>Mahindra Scorpio suv</h3>
                        <p>Ever wanted to have a super fun long drive with your family or wanted
                          to have a Fantastic trip , Happy Miles is here to provide one of the best
                          rental cars according to your convenience with experienced and licensed
                          drivers.</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button routerLink="/driverrent">Book Now</button>
                    </mat-card-actions>
                   
                    </mat-card>


                    <!---->


                <mat-card>
                    <img mat-card-image src="/assets/images/26.jpeg">
                    <mat-card-content>
                        <h3>Tata nexon ev electric vehicle</h3>
                        <p>Ever wanted to have a super fun long drive with your family or wanted
                          to have a Fantastic trip , Happy Miles is here to provide one of the best
                          rental cars according to your convenience with experienced and licensed
                          drivers.</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button routerLink="/driverrent">Book Now</button>
                    </mat-card-actions>
                   
                    </mat-card>


                      <!---->


                <mat-card>
                    <img mat-card-image src="/assets/images/27.jpeg">
                    <mat-card-content>
                        <h3>Hyundai aura sedan</h3>
                        <p>Ever wanted to have a super fun long drive with your family or wanted
                          to have a Fantastic trip , Happy Miles is here to provide one of the best
                          rental cars according to your convenience with experienced and licensed
                          drivers.</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button routerLink="/driverrent">Book Now</button>
                    </mat-card-actions>
                   
                    </mat-card>

                      <!---->


                <mat-card>
                    <img mat-card-image src="/assets/images/28.jpeg">
                    <mat-card-content>
                        <h3>Toyota innova</h3>
                        <p>Ever wanted to have a super fun long drive with your family or wanted
                          to have a Fantastic trip , Happy Miles is here to provide one of the best
                          rental cars according to your convenience with experienced and licensed
                          drivers.</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button routerLink="/driverrent">Book Now</button>
                    </mat-card-actions>
                   
                    </mat-card>

                    
                      <!---->


                <mat-card>
                    <img mat-card-image src="/assets/images/29.jpeg">
                    <mat-card-content>
                        <h3>Hyundai creta suv</h3>
                        <p>Ever wanted to have a super fun long drive with your family or wanted
                          to have a Fantastic trip , Happy Miles is here to provide one of the best
                          rental cars according to your convenience with experienced and licensed
                          drivers.</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button routerLink="/driverrent">Book Now</button>
                    </mat-card-actions>
                   
                    </mat-card>

                    